@import './variables.scss';

.button {
    font-size: 14px;

    &.block {
        display: block;
        width: 100%;
    }

    &.primary {
        color: $primary-color;
        background-color: #ffffff;
        border: 1px solid $primary-color;

        &:hover {
            background-color: $primary-color-fade;
        }
    }
}

.button.rounded {
    border-radius: 50%;
}