@import './variables.scss';

.card {
    padding: max(1em, 1rem);
    border: 2px solid $secondary-color;
    border-radius: 20px;
    box-shadow: 5px 5px 10px $primary-color;
    overflow: hidden;
    background-color: #ffffff;
}