@import './variables.scss';

.input-wrapper {
    position: relative;

    .input, .textarea {
        border: 1px solid $primary-color;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 100%;
        outline: none;
    }

    .input-placeholder{
        position: absolute;
        bottom: -0.20rem;
        left: 0.5rem;
        transition: transform 300ms cubic-bezier(0.4,0,0.2,1),opacity 50ms cubic-bezier(0.4,0,0.2,1);
        width: 100%;

        span {
            background-color: #ffffff;
            padding: 0.25rem 0.5rem;
        }
    }

    .textarea-placeholder{
        position: absolute;
        bottom: 7.7rem;
        left: 0.5rem;
        transition: transform 300ms cubic-bezier(0.4,0,0.2,1),opacity 50ms cubic-bezier(0.4,0,0.2,1);
        width: 100%;

        span {
            background-color: #ffffff;
            padding: 0.25rem 0.5rem;
        }
    }

    .input:not([disabled]):focus~.input-placeholder,
    .textarea:not([disabled]):focus~.textarea-placeholder,
    .active {
        transform: scale(.75) translateY(-2.4rem) translateX(-16%);
        color: $primary-color;
    }
}

.textarea {
    resize: none;
    height: 10rem;
}

.input-error {
    padding-left: 0.8rem;
    font-size: .8rem;
    color: red;
}