@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.scss';
@import './common.scss';
@import './buttons.scss';
@import './card.scss';
@import './table.scss';
@import './input.scss';
@import './tabs.scss';
@import './services.scss';

.router-link-exact-active,
.router-link-active {
    box-shadow: 0px 3px 0px $primary-color;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-alpha, .nav {
    background-color: #ffffff;
}

.header-alpha__text {
    background-color: $primary-color;
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
}

.image {
    width: 400px;
    height: auto
}