@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.scss';
@import './common.scss';
@import './buttons.scss';
@import './card.scss';
@import './table.scss';
@import './input.scss';
@import './tabs.scss';
@import './services.scss';
@import './modal.scss';
@import './menu.scss';
@import './checkbox.scss';

.header-alpha {
    .header-alpha__text {
        background-color: $primary-color;
        padding: 1rem 0;
        color: #ffffff;
        text-align: center;
    }
}