@import './variables.scss';

table {
    width: 100%;
    text-align: left;
    overflow: scroll;
    margin: auto;

    th {
        background-color: $primary-color;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
    }

    td {
        background-color: #fff;
        padding: 10px;
        border-bottom: 1px solid $primary-color;

        // Datepicker override
        &.active {
            background-color: $primary-color !important;
        }
    }
}

.table tr:nth-child(even) td {
    background-color: $secondary-color;
}

.table tr:hover td {
    background-color: $primary-color-fade;
}